body {
	background-color: #e6f5ff;
}
header {
	background-image: url("cloudheader.png");
	margin-top: 0;
	background-position: bottom;
	background-image-height: 170px;
}
h1 {
	font-family: "Pacifico", Verdana, Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 50px;
	padding-top: 110px;
	padding-bottom: 10px;
	color: white;
}

h2 {
	font-size: 30px;
	padding-top: 40px;
	font-family: Optima, "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
}

h3 {
	font-family: Verdana, sans-serif;
	font-size: 23px;
	padding-bottom: 10px;
	color: white;
}

.boxes {
	font-family: 'Raleway', sans-serif;
	list-style-type: disc;
}

/*beginning of navbar*/
nav {
  height: 60px;
  margin-top: 15px;
}
nav div#navbar {
  position: relative;
  border: 4px solid #4a4a4a;
  border-top: none;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 130px;
  height: 60px;
  transition-property: width;
  transition-duration: 1s;
  overflow: hidden;
}

nav div#navbar:hover {
  width: 99%;
}

nav div#navbar:hover li {
    left: 0px;
}

nav p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  color: #006bb3;
  padding-top: 17px;
  padding-left: 7px;
  height: 50px;
  margin-top: -3px;
}

#inner {
  display: block;
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -70px;
  width: 700px;
  height: 60px;
  border: none;
}

#inner li {
  position: relative;
  left: 100px;
  display: inline-block;
  width: 120px;
  padding: 0px 0px;
  text-align: center;
  margin: 12px 10px 0px 35px;
  overflow: hidden;
  border: none;
}

#inner li a {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #000000;
  padding: 7px 5px 7px 5px;
  margin: 0px auto 0px;
  border: 3px solid #4a4a4a;
  border-top: none;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100px;
  height: 20px;
}

#inner li a:hover {
  color: #006bb3;
  background-color: white;
  border-color: #006bb3;
}

#inner li a#donate {
    color: red;
}
/*end of navbar*/

div.sad, div.happy {
	width: 300px;
	height: 350px;
	padding-left: 35px;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 15px;
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
	text-align: left;
	background-color: rgba(0, 107, 179, 0.6);
	line-height: 1.4;
}

img.paw {
	padding-right: 10px;
}

.love {
	font-size: 1.7em;
	float: left;
	display: inline-block;
	padding-top: 20px;
}

.paw {
	width: 50px;
	height: 50px;
	padding-left: 20px;
	float: left;
	display: inline-block;
}

div#bodytext {
	clear: left;
	padding-top: 20px;
}

li {
	padding-top: 8px;
}

footer {
	clear: left;
	padding: 5px;
	margin-top: 30px;
	background-color: rgba(0, 107, 179, 0.2);
	bottom: 0;
	position: relative;
	width: 100%;
	font-family: Optima, "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
}

#info p {
	font-family: Optima, "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	color: #004d80;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	line-height: 1.4;
	width: 500px;
	float: left;
}

@media (max-width: 400px) {
	header {
		height: 110px;
	}
	h1 {
		width: 90%;
		padding-top: 55px;
		font-size: 2em;
	}
	h2 {
		width: 80%;
		font-size: 1.8em;
		text-align: center;
		padding-top: 15px;
	}
	h2 .paw {
		width: 33px;
		height: 33px;
	}
	.happy {
		clear: left;
	}
	#bodytext {
		width: 340px;
	}
}

@media (min-width: 401px) and (max-width: 800px) {
	h1 {
		width: 300px;
	}
	h2 {
		width: 600px;
	}
	div.happy {
		clear: left;
	}
	#bodytext div.sad, div.happy {
		min-width: 2em;
	}
}

@media (min-width: 801px) {
	/*h1 {
		max-width: 400px;
	}*/
}